.navbar,
.navbar-brand,
.footer,
h1,
h2,
h3,
h5 {
  font-family: "Cormorant Garamond", serif;
}
body p {
  font-family: "Montserrat", sans-serif;
}
.navbar,
.navbar li,
.navbar li a {
  background-color: rgba(234, 228, 221, 0.8);
  font-size: 1.2rem;
}
.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #60584e;
}
.navbar-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #60584e;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}
.navbar-link:hover::after {
  width: 100%;
}
.offcanvas,
.offcanvas-header,
.offcanvas-body {
  background-color: rgb(234, 228, 221);
}
.navbar-brand,
.offcanvas-title {
  font-size: 2.3rem;
  color: #60584e;
}
.navbar-toggler-icon {
  border: 0;
  outline: none;
  box-shadow: none;
}
.container {
  max-width: 1200px; /* Begränsar maxbredden för stora skärmar */
  margin: 0 auto;
  min-height: 600px;
}
.d-block .btn {
  background-color: #7d8569;
  border-radius: 0%;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
}
.d-block .btn:hover {
  background-color: #fff;
  color: #000;
}
#treatment {
  margin-top: 5rem;
}
#treatmentHeader {
  letter-spacing: 2px;
}
.footer,
.footer li,
.footer li a {
  background-color: #897d6e;
  list-style: none;
  text-decoration: none;
  color: #eae4dd;
  font-size: 1.2rem;
}
.footer-link {
  color: #eae4dd;
  text-decoration: none;
}
.icon {
  width: 25px;
  height: 25px;
}
.footer-icon {
  width: 30px;
  height: 30px;
}
